src/VSupermarket/VSupermarket.Pricing.Tests/bin/
src/VSupermarket/VSupermarket.Pricing.Tests/obj/
src/VSupermarket/VSupermarket.Pricing/obj/
src/VSupermarket/VSupermarket.Tests/bin/
src/VSupermarket/VSupermarket/bin/
src/VSupermarket/VSupermarket.Tests/obj/
src/VSupermarket/VSupermarket/obj/
src/VSupermarket/.vs/
src/VSupermarket/VSupermarket.Pricing/bin/Debug/
